<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mailer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background: #e8e8e8; padding: 45px 0">
<div class="container" style="width: 600px;margin: auto;text-align: center">
	<img src="logo.png" style="width: 33%;margin-bottom: 20px">
<table width="600px" cellspacing="0" cellpadding="15" align="center" style="font-family: 'Lato', sans-serif; background: #fff">
	<tr align="center">
		<td style="padding: 30px 20px">
			<table style="width:580px; border-collapse: collapse;">
				<tr>
					<td style="font-size: 30px;font-weight: 600" colspan="2">
						Online Payment Received
					</td>
				</tr>
				<tr style="border-bottom: 1px solid #ccc">
					<td style="width: 50%">
                        ABC Signs, Incorporated, Limited Liability Corporation<br>
                        4321 Somewhere<br>
                        yourCity LA 708125
                        <p style="margin:0"><b>Tel:</b>(123)456-7890</p>
                        <p style="margin:0"><b>Email:</b>info@abc.com</p>
                        <p style="margin:0"><b>Web:</b>www.abc.com</p>

                    </td>
                    
                    <td style="padding-top: 20px">
                           <p><b>Order#1062</b></p>
                           <p style="margin-bottom:0"><b> Payment Date</b></p>
                           <p style="margin-top:0">6/08/2018</p>
                            <p style="margin-bottom:0"><b>Transiction ID</b></p>
                            <p style="margin-top:0">PQ456789754ERTYFUOD5454</p>        
                    </td>
                </tr>

                <tr style="border-bottom: 1px solid #ccc"> 
                    <td style="padding:20px 0; font-weight: 800"  colspan="2">
                        Items Purchased
                    </td>
                </tr>

                        <tr> 
                        <td style="padding-top:20px; font-weight: 600">
                            Sub total:
                        </td>
                        <td style="padding-top:20px">
                                $40.00
                        </td>
                        </tr>

                        
                        <tr> 
                                <td style="padding-top:20px; font-weight: 600">
                                    Taxes:
                                </td>
                                <td style="padding-top:20px">
                                        $3.50
                                </td>
                        </tr>

                    <tr> 
                            <td style="padding-top:20px; font-weight: 600">
                                Grand Total:
                            </td>
                            <td style="padding-top:20px">
                                    $3.50
                            </td>
                     </tr>

                     <tr style="border-bottom: 1px solid #ccc;"> 
                            <td style="padding-top:20px; font-weight: 600; padding-bottom: 20px">
                                Balance Due:
                            </td>
                            <td style="padding-top:20px; padding-bottom: 20px">
                                    $0.00
                            </td>
                     </tr>
                
            
			</table>
		</td>
	</tr>

</table>
</div>
</body>
</html>

