<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mailer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background: #e8e8e8; padding: 45px 0">
<div class="container" style="width: 600px;margin: auto;text-align: center">
	<img src="logo.png" style="width: 33%;margin-bottom: 20px">
<table width="600px" cellspacing="0" cellpadding="15" align="center" style="font-family: 'Lato', sans-serif; background: #fff">
	<tr align="center">
		<td style="padding: 30px 20px">
			<table style="width:580px;">
				<tr>
					<td style="font-size: 30px;font-weight: 600">
						Dear Customer
					</td>
				</tr>
				<tr>
					<td style="padding-top: 20px">
						Your Instadispatch Starter subscription will automatically renew in 2 weeks! There's is nothing more you need to do.
					</td>
				</tr>
				<tr>
					<td style="padding-top: 20px">
						Mow may be a good time to <a href="#">Update to pro.</a>You can enjoy more awesome features such as:
					</td>
				</tr>

				<tr>
					<td style="padding-top: 20px">
						<ul style="margin:0;line-height: 20px">
                            <li>Feature 1</li>
                            <li>Feature 2</li>
                            <li>Feature 3</li>
                            <li>Feature 4</li>
                        </ul>
					</td>
                </tr>
                
                <tr>
                    <td style="padding-top: 20px">
                        We look forward to helping you achieve your goals!
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 20px">
                        Need assistance or want to cancel? Youc can always reach us by <a href="#">visiting our support center</a>.
                    </td>
                </tr>

				
				<tr>
					<td style="font-weight: 800;font-size: 17px; padding-top: 20px">
						-Instadispatch Team
					</td>
				</tr>
			</table>
		</td>
	</tr>

</table>
</div>
</body>
</html>

