<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mailer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');
    </style>
</head>
<body style="background: #e8e8e8; padding: 45px 0;font-family: 'Roboto', sans-serif;">
<div class="container" style="width: 600px;margin: auto;text-align: center">

    <img src="https://icargo-public.s3.eu-west-1.amazonaws.com/logo.png" style="width: 33%;margin-bottom: 20px">
    <table width="600px" cellspacing="0" cellpadding="15" align="center"
           style="font-family: 'Lato', sans-serif; background: #fff">
        <tr align="center">
            <td style="padding: 30px 20px">
                <table style="width:580px;">
                    <tr>
                        <td style="font-size: 30px;font-weight: 600">
                            Dear {{name}}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px">
                            Thanks for showing your interest in InstaDispatch!
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px">
                            As there was no specific question in the inquiry. Sharing the basic idea what
                            Instadispatch Is? Once you are done with the Signup. You can avail the following services
                            and lots more.
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top: 20px">
                            <ul style="list-style: decimal;line-height: 25px;">
                                <li>We provide same day delivery (For Local Carrier) where you can do a single
                                    collection with multiple deliveries. Bulk Import CSV option is there.
                                </li>
                                <li>We provide parcel services with Third Party Integration like UKMAIL, DHL,
                                    TUFFNELLS,FedEx, UPS etc.
                                </li>
                                <li>Retail/Last Mile delivery also possible through InstaDispatch Courier Management
                                    Software.
                                </li>
                                <li>Label generation to go on Customer Boxes. Each label has its own URN, as well as
                                    customer address and postcode as per sample.
                                </li>
                                <li>Automated Delivery Route Planning & Route Optimization through Instadispatch App.
                                </li>
                                <li>Real-time Tracking with all Integrated carriers.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px">
                            Please feel free to contact us, If above features fit your business requirement, we can further
                            have a demo call with you. Do share you time preference with us.
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top: 20px">
                            Thank You,
                        </td>
                    </tr>

                    <tr>
                        <td style="font-weight: 500;font-size: 17px; line-height: 30px;">
                            InstaDispatch Support<br/>
                            <a href="http://support.instadispatch.com">http://support.instadispatch.com</a><br/>
                            <a href="mailto:support@instadispatch.com">support@instadispatch.com</a><br/>
                            +44(0) 2037441871 (Hours 8am - 5pm BST)<br/>
                            For additional information, including pricing for usage and support, please visit us at:
                            <a href="http://www.instadispatch.com" target="_blank">
                                http://www.instadispatch.com</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</div>
</body>
</html>

