<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mailer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background: #e8e8e8; padding: 45px 0">
<div class="container" style="width: 600px;margin: auto;text-align: center">
	<img src="logo.png" style="width: 33%;margin-bottom: 20px">
<table width="600px" cellspacing="0" cellpadding="15" align="center" style="font-family: 'Lato', sans-serif; background: #fff">
	<tr align="center">
		<td style="padding: 30px 20px">
			<table style="width:580px;">
				<tr>
					<td style="font-size: 30px;font-weight: 600">
						Dear Customer
					</td>
				</tr>
				<tr>
					<td style="padding-top: 20px; font-weight: 600; font-size: 20px">
						Your Instadispatch trial ends in 3 days
					</td>
				</tr>
				<tr>
					<td style="padding-top: 20px">
						Thanks for trying Instadispatch. You've added a lot of data, so here are several options for you to consider going forward.
					</td>
				</tr>

                <tr>
                        <td style="padding-top: 20px; text-align: center">
                            <a href="" style="background: #000;border: none;padding: 10px 15px; color: #fff; text-decoration:	none">Upgrade Your Account</a>
                        </td>
                </tr>
            

                <tr>
                    <td style="padding-top: 20px">
                        If you are not ready to upgrade to a paying account, you have a few other option availaible to you...
                    </td>
                </tr>

                <tr>
                        <td style="padding-top: 20px">
                            <ul style="margin:0;line-height: 20px">
                                <li>option 1</li>
                                <li>option 2</li>
                                <li>option 3</li>
                                <li>option 4</li>
                            </ul>
                        </td>
                </tr>

                
                <tr>
                        <td style="padding-top: 20px">
                            Regardless of your choice, we wan to say thank you for trying Instadispatch. We know it's an investment of your time, and we appreciate you giving us a chance.
                        </td>
                    </tr>

				
				<tr>
                    <td style="font-weight: 800;font-size: 17px; padding-top: 20px">
                        Thanks<br>
						-Instadispatch Team
					</td>
				</tr>
			</table>
		</td>
	</tr>

</table>
</div>
</body>
</html>

