<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mailer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background: #e8e8e8; padding: 45px 0">
<div class="container" style="width: 600px;margin: auto;text-align: center">

	<img src="{{logo}}" style="width: 33%;margin-bottom: 20px">
<table width="600px" cellspacing="0" cellpadding="15" align="center" style="font-family: 'Lato', sans-serif; background: #fff">
	<tr align="center">
		<td style="padding: 30px 20px">
			<table style="width:580px;">
				<tr>
					<td style="font-size: 30px;font-weight: 600">
						Welcome {{name}}
					</td>
				</tr>
				<tr>
					<td style="padding-top: 20px">
						We re thrilled to have you join our community. Ready to start to book your first order?
					</td>
				</tr>

				<tr>
					<td style="padding-top: 20px">
						<a href="" style="background: #000;border: none;padding: 10px 15px; color: #fff; text-decoration:	none">Sign In</a>
					</td>
				</tr>

				<tr>
					<td style="padding-top: 20px">
						See you online
					</td>
				</tr>

				
				<tr>
					<td style="font-weight: 800;font-size: 17px">
						Instadispatch Team
					</td>
				</tr>
			</table>
		</td>
	</tr>

</table>
</div>
</body>
</html>

