<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mailer</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background: #e8e8e8; padding: 45px 0">
<div class="container" style="width: 600px;margin: auto;text-align: center">

	<img src="https://icargo-public.s3.eu-west-1.amazonaws.com/logo.png" style="width: 33%;margin-bottom: 20px">
<table width="600px" cellspacing="0" cellpadding="15" align="center" style="font-family: 'Lato', sans-serif; background: #fff">
	<tr align="center">
		<td style="padding: 30px 20px">
			<table style="width:580px;">
				<tr>
					<td style="font-size: 30px;font-weight: 600">
						Welcome {{name}}
					</td>
				</tr>
				<tr>
					<td style="padding-top: 20px">
						Thank you for subscribing to InstaDispatch. Your account information is provided below. To ensure that you get up and running quickly, you may find the resources outlined below helpful.
					</td>
				</tr>

				<tr>
					<td style="padding-top: 20px">
						<strong>Account Information</strong>
						<ul>
							<li>Registered Email: <a href="mailto:{{email}}">{{email}}</a></li>
						</ul>
					</td>
				</tr>

				<tr>
					<td style="padding-top: 5px">
						<strong>Resources</strong>
						<ul>
							<li>You can talk to our team or chat with us and we will help you with the basic setup. </li>
							<li>You can access our KnowledgeBase articles by clicking the Help link within Instadispatch.</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td style="padding-top: 20px">
						If you still need assistance with InstaDispatch, please initiate a Support request by clicking the Support link within InsstaDispatch or sending an email to <a href="mailto:support@instadisatch.com" >support@instadisatch.com</a>
					</td>
				</tr>
				<tr>
					<td style="padding-top: 20px">
						Thank You,
					</td>
				</tr>
				
				<tr>
					<td style="font-weight: 500;font-size: 17px; line-height: 30px;">
						InstaDispatch Support<br/>
						<a href="http://support.instadispatch.com" >http://support.instadispatch.com</a><br/>
						<a href="mailto:support@instadispatch.com">support@instadispatch.com</a><br/>
						+44(0) 2037441871 (Hours 8am - 5pm BST)<br/>
						For additional information, including pricing for usage and support, please visit us at:
						<a href="http://www.instadispatch.com" target="_blank">
							http://www.instadispatch.com</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>

</table>
</div>
</body>
</html>

