<table class="container"  style="width: 1170px;"> 
  <tr>
    <td rowspan="2" style="vertical-align:top;padding:10px; width: 390px;">This is computer generated invoice no signature required.<br/>
      * Queries relating to this invoice must be notified in writing no later than 28 days from invoice date. 
      </td>
    <td rowspan="2" style="text-align:center;padding:10px; width: 390px;"><img src="__company_logo__" /></td>
    <td style="padding:5px 5px 0px 5px;"><table class=" table-border" style="margin-bottom:0px !important;">
        <tr>
          <td style="padding:5px;">FREIGHT :</td>
          <td> __baseprice__ </td>
        </tr>
        <tr>
          <td>SURCHARGES :</td>
          <td>__surcharge__</td>
        </tr>
        <tr>
          <td> FUEL SURCHARGE : </td>
          <td>__fualsurcharge__</td>
        </tr>
        <tr>
          <td>VAT :</td>
          <td>__tax__</td>
        </tr>
        <tr>
          <td>Voucher :</td>
          <td>__voucher__</td>
        </tr>
        <tr>
          <td>TOTAL(£):</td>
            <td><b>__total__</b></td>
        </tr>
      </table></td>
  </tr>
</table>